<!DOCTYPE html>
<head>
    <title>User Story manager</title>
</head>
<body>
    <h1>User Story manager - {{ title }}</h1>
    <form action="/list" method="post">
        <input name="id" type="hidden" value={{ id }}></p>

        <p><label for="story_title" >Story title</label><br>
        <input name="story_title" id="title" value={{ story[1] }}></p>

        <p><label for="user_story">User Story</label><br>
        <textarea name="user_story" id="story" rows="5">{{ story[2] }}</textarea></p>

        <p><label for="criteria" >Acceptance criteria </label><br>
        <textarea name="criteria" id="criteria" rows="10">{{ story[3] }}</textarea></p>

        <p><label for="value" >Business Value</label><br>
        <style>
            input[type=number]::-webkit-inner-spin-button {
                opacity: 1
            }
        </style>
        <input type="number" name="value" id="value" min="100" value={{ story[4] }} max="1500" step="100"></p>

        <p><label for="estimation">Estimation (h)</label><br>
        <input type="number" name="estimation" id="estimation" min="0.5" value={{ story[5] }} max="40" step="0.5"></p>

        <p><label for="statuses" >Status</label><br>
        <input name="status" list="statuses" value={{ story[6] }}></p>
        <datalist id="statuses">
            <option>Planning</option>
            <option>TODO</option>
            <option>In Progress</option>
            <option>Review</option>
            <option>Done</option>
        </datalist>
        <p><input type="submit" value={{ button }} id="button", name="button"></p>
    </form>
</body>
</html>
